<!DOCTYPE html>
<html lang="de">
  {% include head.html %}
  <body class="valign-wrapper">
   <div class="container valign">
      <div class="row">
        <header class="col s12 m12 l4 right z-depth-5">
          <a href="/" class="brand-text">&#91;&#x02C8;nu&#x02D0;b&#618;t&#93;</a>      
          <p>
            Dipl.-Inf. Roman Rauch<br>
            <i class="tiny mdi-action-account-balance"></i>&nbsp;full stack web engineer</i>
          </p>
          <p>
            web &bull; consulting &bull; development<br>
            <i class="tiny mdi-maps-place"></i>&nbsp;Berlin, Germany</i>      
          </p>
          <button id="btn-link" class="btn-floating btn-large waves-effect waves-circle waves-light left orange"><i id="btn-icon" class="large mdi-communication-email"></i></button>
        </header>

        <main class="col s12 m12 l8 left z-depth-5">
          <section id="main">
            {{ content }}
          </section>
          <section id="contact" style="display: none">  
            <div class="row center">
              <h5 class="indigo-text text-darken-4">Schreiben Sie mir</h5>
              <h6 class="indigo-text">Ich antworte innherhalb von 24Stunden!</h6> 
              <p class="indigo-text text-lighten-4"><strong>agil. robust. responsive. sicher.</strong></p>
            </div>
            <form action="//formspree.io/hardenberg.persico@googlemail.com" method="POST" id="contactForm">
              <div class="input-field">
                <i class="mdi-action-account-circle prefix"></i>
                <input id="name" name="Name" type="text" class="validate" required />
                <label for="first_name">Name</label>
              </div>
              <div class="input-field"> 
                <i class="mdi-communication-email prefix"></i>
                <input id="email" name="_replyto" type="email" class="validate" required />
                <label for="email">E-Mail</label>
              </div>
              <div class="input-field"> 
                <i class="mdi-editor-mode-edit prefix"></i>
                <textarea id="message" name="message" class="materialize-textarea validate"></textarea>
                <label for="message">Nachricht</label>
              </div>
              <input type="text" name="_gotcha" style="display:none" />
              <input type="hidden" name="_subject" value="Kontaktformular Homepage" />
              <button id="btn-send" class="btn waves-effect waves-light left orange" type="submit" name="action">Senden <i class="mdi-content-send right"></i>
              </button>
            </form>
          </section>
          <section >
          
          </section>
        </main>

        
        <footer class="col s12 m12 l4 z-depth-5">
          <small>
            © 2015 noobit &bull; 
            <a href="/impressum">Impressum</a> &bull; 
            <a href="/datenschutz">Datenschutz</a>
          </div>
        </small>      
      </div>
    </div>
    {% include feet.html %}
  </body>
</html>
